.category-box{
  width: 300px;

  border-radius: 10px;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.slide-img{
  height: 450px;
  position: relative;
}

.slide-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-overlay{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width:100%;
  height: 100%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.c-slider{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}