.gallery {
    position: relative;
}

.gallery-overlay {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.95);
    z-index: 1000;
    transition: all 1000ms ease;
}

.gallery-overlay img {
    max-width: 90%;
    max-height: 80%;
}

.thumbnails img {
    cursor: pointer;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 100ms ease, opacity 100ms ease;
}
.thumbnails img:hover {
    filter: brightness(0.7);
}
.close-btn, .prev-btn, .next-btn, .zoom-btn {
    padding: 0;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

  
  .close-btn:hover, .prev-btn:hover, .next-btn:hover, .zoom-btn:hover {
    filter: brightness(70%); 
  }
  

.close-btn {
    top: 10px;
    right: 10px;
}

.prev-btn {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.next-btn {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.zoom-btn {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.thumbnails {
    display: grid;
    gap: 13px; /* Adjust as needed */
}

.thumbnails img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-overlay button img{
    width: 50px;
}

@media (min-width: 1200px) {
    .thumbnails {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .thumbnails {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .thumbnails {
        grid-template-columns: 1fr;
    }
}
