@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


*{
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    text-decoration: none;
}

body{   
    background-color: rgb(237, 237, 237);
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5em;
    color: #666;
}
p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5em;
    color: #666;
    margin: 0 0 20px;
}
a:-webkit-any-link {
    color: unset;
}

.sm-handle img{
    width: 33px;
}

