*{
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    text-decoration: none;
}

body{   
    background-color: rgb(237, 237, 237);
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5em;
    color: #666;
}
p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.5em;
    color: #666;
    margin: 0 0 20px;
}


