.menu-img {
  width: 80%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.1s;
}

#header {
  background-color: black;
  height: 35px;
  width: 35px;
  position: fixed;
  left: 25px;
  top: 25px;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: fixed;
  top: 0;
  width: 76%;
  height: 110%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 0.3s;
}

.active {
  left: 0;
}

.unactive {
  left: -100%;
}
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.nav ul li {
  margin: 20px 0;
}

.nav ul li a {
  color: white;
}

@media (min-width: 750px) {
  #header {
    display: none;
  }

  .nav {
    width: 23%;
    position: fixed;
    top: 0;
    height: 110%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.3s;
  }
  .active {
    left: 0;
  }

  .unactive {
    left: 0;
  }

  .main-container {
    display: flex;
  }
  .main-content {
    margin-left: 23%;
    width: 87%;
    overflow: auto;
  }
}
/* .container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.content {
  margin-left: 200px;
  padding: 20px;
  width: calc(100% - 200px);
  overflow: auto;
  height: 100vh;
} */
